.about {
    margin-top: 3rem;
    padding: 2rem 7%;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.about-content-image {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.about-content-para-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
}